<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadê Buffet?!</title>
</head>
<body>

    <div id="app">
        <h1>Cadê Buffet?!</h1>
        <button v-on:click="getBuffetList">Carregar Buffets</button>

        <input type="text" v-model="searchText" placeholder="Pesquisar Buffet"> 
        <ul>
            <li v-for="buffet, index in listResult" v-bind:key="index">
                <h2>{{ buffet.brand_name }}</h2>
                <p>{{ buffet.address }}</p>
                <p>{{ buffet.phone }}</p>
                <p>{{ buffet.email }}</p>
                <p>{{ buffet.city }} / {{ buffet.state}}</p>
            </li>
        </ul>



    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>