.tapestry-regular {
    font-family: "Tapestry", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
}

.header_title {
    margin-right: 20%;
    font-size: 60px;
    font-family: 'Tapestry';
}

.search_bar {
    border-radius: 6px;
    align-items: center;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.card {
    background-color: #FFF;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}



li {
    list-style: none;
    display: inline-block;
}
